---
import BaseLayout from '../BaseLayout.astro';

const { title, description, cover } = Astro.props;
---
<BaseLayout title={title} description={description} omImage={cover}>
  <div class="relative">
    <slot />
  </div>
</BaseLayout>
