---
import BaseLayout from '../BaseLayout.astro';

const { title, description, cover } = Astro.props;
---
<BaseLayout
  title={title}
  description={description}
  ogImage={cover}
  showNavigation={false}
>
  <div class="relative">
    <slot />
  </div>
</BaseLayout>
