.profile {
  padding: 0 var(--base-padding);
  margin: 96px auto 2rem auto;
  border: 1px solid var(--border-color);
  border-radius: var(--base-border-radius);
  background: white;
  transition: var(--base-transition);
}

.profile-avatar {
  position: relative;
  width: 160px;
  height: 160px;
  margin-left: 50%;
  margin-top: -80px;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color) var(--border-color) transparent transparent;
  transform: translateX(-50%) rotate(-45deg);
  transform-origin: center;
  transition: var(--base-transition);
}

.profile:hover,
.profile:active {
  border-color: var(--primary-color);
}

.profile:hover .profile-avatar,
.profile:active .profile-avatar {
  border-color: var(--primary-color) var(--primary-color) transparent
    transparent;
}

.profile-avatar::after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../../images/icon.jpg') no-repeat center;
  background-size: contain;
  transform: rotate(45deg);
}

.profile-slogan {
  margin-bottom: 1rem;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 82%;
}

.profile-social {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto 1rem auto;
  list-style: none;
}

.profile-social a {
  font-size: 20px;
}

.profile-social a:hover {
  transform: scale(1.2);
}

.profile-item {
  font-size: 1rem;
}

.profile-item:not(:first-child) {
  margin-top: 8px;
}
