.blog-post {
  padding: 2rem;
  /* padding: 0 3px; */
  max-width: 960px;
  overflow: hidden;
}

.blog-post-title {
  margin: 0;
  font-size: 48px;
  font-weight: 100;
  font-style: italic;
  color: var(--primary-color);
  text-shadow: 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.blog-post-quote {
  position: relative;
  /* padding: 4rem 1rem 1rem; */
  padding: 1rem;
  margin: 2rem 0;
  text-align: justify;
  font-family: var(--serif-font);
  font-style: italic;
  color: var(--primary-text-color);
  border-left: 8px solid var(--primary-light-color);
  background-color: #f2f2f2;
  /* text-indent: 5em; */
}

/* .blog-post-quote::before {
  display: block;
  position: absolute;
  left: -126px;
  top: 130px;
  content: '\201C';
  font-size: 15rem;
  color: rgba(138, 45, 34, 0.3);
  width: 0;
  height: 0;
  pointer-events: none;
} */

.blog-post-content h2,
.blog-post-content h3,
.blog-post-content h4,
.blog-post-content h5,
.blog-post-content h6 {
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 1em 0 0.5em 0;
  border-radius: 0 28px 0 28px;
  font-family: var(--serif-font);
  font-weight: 100;
  color: white;
  background-color: var(--primary-light-color);
}

.blog-post-content h2 {
  font-size: 26px;
}

.blog-post-content h3 {
  font-size: 22px;
}

.blog-post-content h4 {
  font-size: 20px;
}

.blog-post-content h5 {
  font-size: 18px;
}

.blog-post-content li,
.blog-post-content p {
  line-height: 1.8;
  text-align: justify;
}

.blog-post-content ul,
.blog-post-content ol {
  margin-left: 40px;
}

.blog-post-content ul {
  list-style: '🎈' outside;
}

.blog-post-content a {
  padding: 0 2px;
  position: relative;
  z-index: 2;
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: alias;
}

.blog-post-content a::before {
  position: absolute;
  z-index: -1;
  content: '';
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
  border-radius: 0 5px 0 5px;
  background-color: rgba(138, 45, 34, 0.6);
  transition: var(--base-transition);
}

.blog-post-content a[href*="https://coderfee.com"] {
  cursor: pointer;
}

.blog-post-content a:hover::before {
  top: 0;
}

.blog-post-content figcaption {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 5px;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1024px) {
  .blog-post-wrapper {
    grid-template-columns: 1fr;
  }
  .blog-post-aside {
    width: 100%;
    display: none;
  }
  .blog-post {
    padding: 2rem;
  }
}

