---
import Emoji from '../Emoji.astro';
---

<button
  class="flex items-center justify-center size-12 text-lg md:size-10 md:text-base outline-accent hover:opacity-100 focus:opacity-100 focus:outline-none rounded-xl border border-zinc-400/20 backdrop-blur-lg dark:border-zinc-500/30 dark:text-zinc-200 bg-zinc-50/80 shadow-lg dark:bg-slate-950/80 transition-all duration-500 ease-in-out"
  id="theme-btn"
>
  🤖
</button>

<script>
  const themeBtn = document.querySelector('#theme-btn')!;
  const root = document.documentElement;
  try {
    const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    if (darkModeMediaQuery.matches) {
      setTheme('dark');
    } else {
      setTheme('light');
    }
    darkModeMediaQuery.addEventListener('change', handleThemeChange);
  } catch (e) {
    console.error(e);
  }

  document.querySelector('#theme-btn')!.addEventListener('click', () => {
    const isDark = root.classList.contains('dark');
    setTheme(isDark ? 'light' : 'dark');
  });

  function setTheme(theme) {
    if (theme === 'light') {
      root.classList.remove('dark');
      themeBtn.textContent = '🌞';
    } else {
      root.classList.add('dark');
      themeBtn.textContent = '🌚';
    }
  }
  function handleThemeChange(event) {
    if (event.matches) {
      setTheme('dark');
    } else {
      setTheme('light');
    }
  }
</script>
