---
import DarkMode from './DarkMode.astro';
import Search from './Search.astro';
---

<div class="fixed bottom-8 right-6 flex flex-col gap-4" aria-label="floating button">
  <Search />
  <DarkMode />
</div>
