.tag {
  display: inline-block;
  height: 26px;
  padding: 0 8px;
  line-height: 26px;
  border-radius: var(--base-border-radius);
  margin-bottom: 8px;
  margin-right: 8px;
  border: 1px solid var(--primary-color);
  font-size: 12px;
  cursor: pointer;
  transition: var(--base-transition);
}

.tag:hover {
  background-color: var(--primary-color);
  color: white;
}

.tags-content {
}

.tag-list {
}

.tag-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dotted var(--border-color);
  padding: 4px 0;
  font-size: 16px;
}
