@media print {
  body {
    @apply text-[12pt] leading-[1.3] bg-white text-black;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  img {
    @apply max-w-full;
    page-break-inside: avoid;
  }

  a, a:visited {
    @apply no-underline text-black;
  }

  div, section, p, ul, ol, dl, table {
    @apply text-black;
  }

  pre {
    @apply whitespace-pre-wrap break-words border border-gray-400;
  }
}
