---
import Card from '@/components/Card.astro'
import Layout from '@/layouts/Layout.astro'
import type { Frontmatter } from '@/types'
import { getPostsByTag, getSortedPosts, getUniqueTags } from '@/utils'

export async function getStaticPaths() {
  const posts = await Astro.glob<Frontmatter>('../../content/**/*.mdx')

  const tags = getUniqueTags(posts)

  return tags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        tag,
      },
    }
  })
}

const { tag } = Astro.props

const posts = await Astro.glob<Frontmatter>('../../content/**/*.mdx')

const tagPosts = getPostsByTag(posts, tag)

const sortedPosts = getSortedPosts(tagPosts)
---

<Layout title={tag} description={tag}>
  <section class="py-8">
    <h1 class="text-center text-4xl">#{tag}#</h1>
    <ul>
      {sortedPosts.map((post) => <Card post={post} />)}
    </ul>
  </section>
</Layout>
