---
import Layout from '@/layouts/Layout.astro'
import type { Frontmatter } from '@/types'
import { getUniqueTags, slugify } from '@/utils'

const posts = await Astro.glob<Frontmatter>('../../content/**/*.mdx')
const tags = getUniqueTags(posts)
---

<Layout title="标签 | Tags" description={tags.join(',')}>
  <section class="banner h-96 bg-cover bg-center bg-no-repeat" slot="banner"></section>
  <article class="prose prose-h1:mb-0 mx-auto py-8">
    <h1>标签 | Tags</h1>
    <ul class="mt-5 m-0 p-0">
      {
        tags.map((tag) => {
          return (
            <li class="inline-block my-3 mr-5 text-lg">
              <a
                class=" no-underline hover:(underline decoration-wavy underline-offset-4)"
                href={`/tags/${slugify(tag)}`}
              >
                #{tag}
              </a>
            </li>
          )
        })
      }
    </ul>
  </article>
</Layout>

<style>
  .banner {
    background-image: url('/assets/tags.png');
  }
</style>
