---
import Head from '@/components/Head.astro'
---

<!DOCTYPE html>
<html lang="zh-CN">
  <Head title="404 not found" description="404 not found" />
  <body class="h-screen w-screen overflow-hidden flex justify-center items-center text-center bg-black">
    <main>
      <h1 class="text-9xl font-bold text-amber">
        <i class="i-ri-aliens-line animate-bounce"></i>
      </h1>
      <p><a class="text-amber underline decoration-wavy underline-offset-4" href="/">首页</a></p>
    </main>
  </body>
</html>
