---
import IndexPost from '@/components/IndexPost.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const collection = await getCollection('blog');
const posts = collection
  .filter(({ data: { draft = false } }) => !draft)
  .filter(({ data: { date } }) => date.getFullYear() < new Date().getFullYear() - 2)
  .sort(({ data: { date: dateA } }, { data: { date: dateB } }) => dateB.valueOf() - dateA.valueOf());
---

<BaseLayout title="归档" description="coderfee.com 归档页面">
  <main class="max-w-prose flex flex-col gap-6 py-4 mx-auto">
    {posts.map((post) => <IndexPost post={post} />)}
  </main>
</BaseLayout>
