---
import { getCollection } from 'astro:content';
import IndexPost from '@/components/IndexPost.astro';
import FloatBtn from '@/components/fab/FloatActionBtn.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

const collection = await getCollection('blog');
const posts = collection
  .filter(({ data: { date } }) => date.getFullYear() >= new Date().getFullYear() - 2)
  .filter(({ data: { draft = false } }) => !draft)
  .sort(({ data: { date: dateA } }, { data: { date: dateB } }) => dateB.valueOf() - dateA.valueOf());
---

<BaseLayout title="首页">
  <main class="max-w-prose flex flex-col gap-6 py-6 mx-auto">
    {posts.map((post) => <IndexPost post={post} />)}
    <a
      href="/archive"
      title="查看更多"
      class="group flex justify-center items-center text-center select-none rounded-xl overflow-hidden bg-white transition-all dark:bg-zinc-900 dark:hover:bg-zinc-800"
    >
      <div class="p-4 space-y-4 text-center dark:text-white/50">
        <span class="icon-[tabler--loader] text-2xl animate-spin"></span>
        <p>查看归档</p>
      </div>
    </a>
  </main>

  <FloatBtn />
</BaseLayout>
