---
import { getCollection } from 'astro:content';
import PostCard from '@/components/post/PostCard.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

const collection = await getCollection('blog');
const posts = collection
  .filter(({ data: { date } }) => date.getFullYear() >= new Date().getFullYear() - 2)
  .filter(({ data: { draft = false } }) => !draft)
  .sort(({ data: { date: dateA } }, { data: { date: dateB } }) => dateB.valueOf() - dateA.valueOf());
---

<BaseLayout title="首页">
  <main class="flex flex-col gap-6 mx-auto">
    {posts.map((post) => <PostCard post={post} />)}
  </main>
</BaseLayout>
