---
import { Hello } from '@/components/home/Hello';
import DocumentMeta from '@/layouts/DocumentMeta.astro';
import { SITE_DESCRIPTION } from '@/consts';
---

<!doctype html>
<html lang="zh-Hans">
  <head>
    <DocumentMeta title="Hi👋" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Hello client:load />
  </body>
</html>
