---
import Card from '@/components/Card.astro'
import Layout from '@/layouts/Layout.astro'
import type { Frontmatter } from '@/types';
import { getSortedPosts } from '@/utils';

const posts = await Astro.glob<Frontmatter>('../content/**/*.mdx')

const sortedPosts = getSortedPosts(posts)
---

<Layout title="首页 | Posts" description="coderfee space, CSpace">
  <section class="h-96 bg-no-repeat bg-center bg-cover banner" slot="banner"></section>
  <ul>
    {sortedPosts.map((post) => <Card post={post} />)}
  </ul>
</Layout>

<style>
  .banner {
    background-image: url("/assets/banner.jpg");
  }
</style>
