---
import IndexPost from '@/components/IndexPost.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import Emoji from '@/components/Emoji.astro';

const collection = await getCollection('blog');
const posts = collection
  .filter(({ data: { date } }) => date.getFullYear() >= new Date().getFullYear() - 2)
  .filter(({ data: { draft = false } }) => !draft)
  .sort(({ data: { date: dateA } }, { data: { date: dateB } }) => dateB.valueOf() - dateA.valueOf());
---

<BaseLayout title="首页">
  <main class="max-w-prose flex flex-col gap-6 py-6 mx-auto">
    {posts.map((post) => <IndexPost post={post} />)}
    <a
      href="/archive"
      title="查看更多"
      class="group flex justify-center items-center text-center select-none rounded-xl overflow-hidden ring-1 ring-slate-900/5 shadow-xl text-blue-200 bg-white transition-all dark:bg-slate-800 dark:border-slate-950"
    >
      <div class="p-4 space-y-4 text-center">
        <Emoji class="text-6xl">📂</Emoji>
        <p>查看归档</p>
      </div>
    </a>
  </main>
</BaseLayout>
