---
import { SITE_TITLE } from '../../consts';
---

<header class="p-4 border-b">
  <div class="max-w-prose mx-auto flex justify-between items-center">
    <a href="/">
      <h2 class="font-bold text-xl">{SITE_TITLE}</h2>
    </a>
    <ul class="menu menu-vertical lg:menu-horizontal bg-white rounded-box">
      <li><a href="/uses">/uses</a></li>
      <li><a href="https://github.com/coderfe" target="_blank">/github</a></li>
      <li><a href="https://twitter.com/coderfee" target="_blank">/twitter</a></li>
      <li><a href="/rss.xml" target="_blank">/rss</a></li>
    </ul>
  </div>
</header>
