---
import type { MarkdownHeading } from 'astro';

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<aside>
  <ul>
    {
      headings.map(({ depth, slug, text }) => (
        <li>
          <a href={`#${slug}`}>{text}</a>
        </li>
      ))
    }
  </ul>
</aside>
