---
import { SITE_TITLE } from '../consts';
import { Navigation } from './Navigation';
---

<header class="p-4 border-b">
  <div class="max-w-prose mx-auto flex justify-between items-center">
    <a href="/">
      <h2 class="font-bold text-xl">{SITE_TITLE}</h2>
    </a>
    <Navigation />
  </div>
</header>
