<>
  <section class="text-xl font-bold">
    <a href="/">{import.meta.env.SITE_NAME}</a>
  </section>
  <nav class="ml-8 space-x-4 uppercase">
    <a href="/" class="transition-colors hover:text-slate-300">Home</a>
    <a href="/tags" class="transition-colors hover:text-slate-300">Tags</a>
    <a href="/about" class="transition-colors hover:text-slate-300">About</a>
  </nav>
</>
