<div class="flex items-center">
  <section class="text-xl font-bold">
    <a href="/">{import.meta.env.SITE_NAME}</a>
  </section>
  <nav class="hidden sm:flex ml-4 space-x-4 uppercase">
    <a href="/posts" class="text-zinc-200 transition-colors hover:text-zinc-400">Posts</a>
    <a href="/tags" class="text-zinc-200 transition-colors hover:text-zinc-400">Tags</a>
    <a href="/about" class="text-zinc-200 transition-colors hover:text-zinc-400">About</a>
  </nav>
</div>
