---
export interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div class="w-full flex justify-center">
  <blockquote class="twitter-tweet">
    <a href={`https://twitter.com/x/status/${id}`}></a>
  </blockquote>
</div>

<script>
  // @ts-ignore
  if (!window.twitterScriptAdded) {
    const script = document.createElement('script');
    script.src = 'https://platform.twitter.com/widgets.js';
    script.async = true;
    document.body.appendChild(script);
    // @ts-ignore
    window.twitterScriptAdded = true;
  }
</script>
