---
export interface Props {
  n: number;
}
const { n } = Astro.props;
const absolute = Math.abs(n);
const signClass = n < 0 ? 'text-green-500' : 'text-red-500';
---

<span class={signClass}>{absolute}%</span>
