---
import dayjs from 'dayjs';
const { post } = Astro.props;
const {
  slug,
  data: { title, tldr, tags = [], date },
} = post;
---

<a
  href={`/blog/${slug}`}
  class="group rounded-md overflow-hidden hover:scale-105 hover:rounded-xl hover:bg-zinc-100 transition-all ease-in-out duration-500 dark:hover:bg-zinc-800"
  data-pagefind-ignore
>
  <div class="p-4">
    <div
      class="text-xl leading-relaxed text-black/90 transition-colors duration-300 dark:text-white/90 dark:hover:text-white/100"
    >
      {title}
    </div>
    <p class="line-clamp-2 mb-2 leading-6 font-normal text-black/80 dark:text-white/80 text-sm">
      {tldr}
    </p>
    <div
      class="flex items-center gap-4 text-sm font-mono text-black/80 dark:text-white/50 *:flex *:gap-1 *:items-center"
    >
      <div>
        <span class="text-lg iconify icon-[tabler--calendar]"></span>
        <span>{dayjs(date).format('MMMM DD,YYYY')}</span>
      </div>
      <div>
        <span class="text-lg iconify icon-[tabler--tags]"></span>
        <span>
          {tags.join("、")}
        </span>
      </div>
    </div>
  </div>
</a>
