---
import Footer from './Footer.astro';
import DocumentMeta from '@/layouts/DocumentMeta.astro';
import Header from './Header.astro';

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="zh-Hans">
  <head>
    <DocumentMeta title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="bg-white dark:bg-slate-900 dark:text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
