---
import Footer from '../components/footer/Footer.astro';
import BaseHead from '../components/header/BaseHead.astro';
import Header from '../components/header/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html transition:animate="slide" lang="zh-Hans">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    style="background-color: #fff;
    opacity: 1;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #fff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;"
  >
    <Header />
    <main class="max-w-5xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 py-4 mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
