---
import DocumentMeta from '@/layouts/DocumentMeta.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="zh-Hans">
  <head>
    <DocumentMeta title={title} description={description} ogImage={ogImage} />
    <slot name="head" />
  </head>
  <body class="bg-white transition-all duration-300 ease-in-out dark:bg-zinc-900 dark:text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
