---
import { Visitors } from '@/components/common/Visitors';

const today = new Date();
---

<footer class="flex w-full flex-col gap-4 items-center py-4 px-8 text-sm bg-zinc-900 text-white/80 font-mono">
  <div class="space-y-2">
    <ul class="flex gap-4 justify-between">
      <li>
        <a href="https://github.com/coderfe" title="GitHub" aria-label="GitHub" rel="noopener" target="_blank">
          <span class="icon-[tabler--brand-github] text-2xl"></span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/coderfee" title="Twitter" aria-label="Twitter" rel="noopener" target="_blank">
          <span class="icon-[tabler--brand-twitter] text-2xl"></span>
        </a>
      </li>
      <li>
        <a href="/rss.xml" title="RSS" aria-label="RSS" rel="noopener" target="_blank">
          <span class="icon-[tabler--rss] text-2xl"></span>
        </a>
      </li>
      <li>
        <a href="/sitemap-0.xml" title="站点地图" aria-label="站点地图" rel="noopener" target="_blank">
          <span class="icon-[tabler--sitemap] text-2xl"></span>
        </a>
      </li>
    </ul>
    <div class="flex gap-4 items-center">
      <span>欢迎，本页访问 <Visitors client:load /> 次</span>
    </div>
  </div>
</footer>
