.book {
  border: 1px solid var(--border-color);
  border-radius: var(--base-border-radius);
  overflow: hidden;
  transition: var(--base-transition);
}

.book:hover {
  border: 1px solid var(--primary-color);
}

.book-cover {
  position: relative;
  height: 220px;
  background: grey url('../../images/light-slash.png');
}

.book-cover-mask {
  border-radius: var(--base-border-radius);
  background-color: rgba(0, 0, 0, 0.8);
}

.book-cover-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 0;
}

.book-cover-image img {
  margin-bottom: 0;
  max-height: 100%;
}

.book-info {
  z-index: 3;
  padding: 1rem;
  color: white;
}

.book-cover-mask,
.book-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: var(--base-transition);
  transform: translateY(100%);
}

.book-cover:hover .book-cover-mask,
.book-cover:hover .book-info {
  transform: translateY(0);
}

.book-info-title {
  margin: 0;
  font-weight: bold;
  font-size: 88%;
}

.book-info-link {
  text-decoration: underline;
  color: var(--primary-color);
}

.book-info-author {
  margin: 0;
  font-size: 82%;
  text-align: right;
}
