.navigator {
  text-align: center;
  font-family: Serif, serif;
  font-weight: bold;
}

.navigator > a {
  display: block;
}

.navigator > a + a {
  margin-top: 1rem;
}

.navigator a {
  color: white;
  transition: all 0.2s linear;
}

.navigator a:hover,
.navigator a[aria-current=page] {
  font-weight: 900;
  transform: scale(1.2);
}
